<div class="animated fadeIn">
    <div class="row">

      <div class="col-sm-6 col-lg-2">
        <div class="card text-white bg-info">
          <div class="card-body pb-0">
            <div class="text-value">{{totalUsers}}</div>
            <div>Users Registered</div>
          </div>
        </div>
      </div>


      <div class="col-sm-6 col-lg-2">
        <div class="card text-white bg-info">
          <div class="card-body pb-0">
            <div class="text-value">{{totalOnlineUsers}}</div>
            <div>Users Online</div>
          </div>
        </div>
      </div>


      <div class="col-sm-6 col-lg-2">
        <div class="card text-white bg-info">
          <div class="card-body pb-0">
            <div class="text-value">{{totalBalanceUsers}}</div>
            <div>Users Balance</div>
          </div>
        </div>
      </div>


      <div class="col-sm-6 col-lg-2">
        <div class="card text-white bg-info">
          <div class="card-body pb-0">
            <div class="text-value">{{totalBalanceBookie}}</div>
            <div>Admin Balance</div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-2">
        <div class="card text-white bg-info">
          <div class="card-body pb-0">
            <div class="text-value">{{totalBalanceJolo}}</div>
            <div>Jolo Balance</div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-2">
        <div class="card text-white bg-info">
          <div class="card-body pb-0">
            <div class="text-value">{{ totalProfit }}</div>
            <div>Profit</div>
          </div>
        </div>
      </div>



    </div>
    </div>