<!-- <div style="background-image: url(assets/img/landing/bg1.jpg);">

  <button style="z-index: 100;" (click)="signInWithGoogle()" type="button"
    class="pull-right btn btn-brand btn-lg btn-google-plus mr-1">
    Sign In with Google
  </button>

  <div style="z-index: -90 !important;" class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="clearfix">
            <h1 class="float-left display-3 mr-4">404</h1>
            <h4 class="pt-3">Oops! You're lost.</h4>
            <p class="text-muted">The page you are looking for was not found.</p>
          </div>
          <div class="input-prepend input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input id="prependedInput" class="form-control" size="16" type="text"
              placeholder="What are you looking for?">
            <span class="input-group-append">
              <button class="btn btn-info" type="button">Search</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div> -->




<body>
  <div style="background-image: url(assets/img/landing/bg1.jpg) !important;">

    <div class="bg-image"></div>

    <div class="bg-text">

      <div class="row">

        <div class="col-md-12">
          <h4>cleanest online cricket only betting platform</h4>
          <h1 style="font-size:50px">el-Apuesta</h1>
          <hr>
          <p>One click sign in</p>
          <p>No fantacy gimics</p>
          <p>Instant Withdrawal</p>
          <p>No registration required</p>
          <p>No minimum betting limit</p>
          <p>Instant winning settlement</p>

          <hr>
          <button style="z-index: 100;" (click)="signInWithGoogle()" type="button"
            class="btn btn-brand btn-lg btn-google-plus mr-1">
            Join In
          </button>

          <h6>First joining will get 50 INR welcome bonus</h6>
        </div>

        <!-- <div class="col-md-12">
            <h2>Blurred Background</h2>
            <h1 style="font-size:50px">el-Apuesta</h1>
            <p>And I'm a Photographer</p>
            <button style="z-index: 100;" (click)="signInWithGoogle()" type="button"
              class="btn btn-brand btn-lg btn-google-plus mr-1">
              Sign In with Google
            </button>
          </div> -->

      </div>


    </div>

  </div>
</body>