<button (click)="signInWithGoogle()" type="button" class="btn btn-brand btn-lg btn-google-plus mr-1">
Sign In with Google
</button>

<!-- <div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <img style="
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 50%;
                    border-style: solid;
                    border-width: 1px;
                    border-color: aliceblue;
                    border-radius: 50px;
                  " width="200" height="150" src="assets/img/brand/logo.png">
                  <hr>
                  <button (click)="signInWithGoogle()" type="button" class="btn btn-brand btn-lg btn-google-plus mr-1"
                    style="margin-bottom: 4px; text-align: center; width: 100%">
                    Sign In with Google
                  </button>
                  <hr>
                </div>
              </div>
              <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                <div class="card-body text-center">
                  <div>
                    <h2>el Apuesta</h2>
                    <p>an online betting app</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div> -->