// table {
//     font-size: small;
// }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .lightGray {
    color:#A9A9A9;
  }
  .dimGray {
    color:#696969;
  }