<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Live
                </div>
                <div class="card-body">
                    card body
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Completed
                </div>
                <div class="card-body">
                    card body
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Upcoming
                </div>
                <div class="card-body" *ngIf="!boardUpcomingData">
                    No Data
                </div>
                <div class="card-body" *ngIf="boardUpcomingData">
                    <!-- {{boardUpcomingData|json}} -->
                    <div *ngFor="let x of boardUpcomingData">
                        <div class="row" style="background-color:gainsboro;">
                            <div class="col-lg-12">
                                <div class="text-center">{{x.startsAt | date:'medium'}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <img class="center" height="50" width="80" src="assets/img/teams/{{x.teamA}}.png" alt=""
                                    srcset="">
                                <div class="text-center">
                                    <b>
                                        {{x.teamA}}
                                    </b>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="text-center" style="font-size: x-small; margin-top: 25px;">{{x.format}}
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <img class="center" height="50" width="80" src="assets/img/teams/{{x.teamB}}.png" alt=""
                                    srcset="">
                                <div class="text-center">
                                    <b>
                                        {{x.teamB}}
                                    </b>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="text-center">1.3</div>
                            </div>
                            <div class="col-lg-2">
                                <div class="text-center" style="font-size: 8px; margin-top: 5px; width: 100%;">RATE</div>
                            </div>
                            <div class="col-lg-5">
                                <div class="text-center">1.4</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="text-center">
                                    <button disabled="disabled" class="btn btn-sm btn-primary">BET</button>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="text-center" style="font-size: 8px; margin-top: 5px;"></div>
                            </div>
                            <div class="col-lg-5">
                                <div class="text-center">
                                    <button disabled="disabled" class="btn btn-sm btn-primary">BET</button>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> In Progress
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Date registered</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Samppa Nori</td>
                                    <td>2012/01/01</td>
                                    <td>Member</td>
                                    <td>
                                        <span class="badge badge-success">Active</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Upcoming
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Date registered</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Samppa Nori</td>
                                    <td>2012/01/01</td>
                                    <td>Member</td>
                                    <td>
                                        <span class="badge badge-success">Active</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->