<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Board
                    <i class="fa fa-refresh pull-right pointer" (click)="getBoardList()"></i>
                </div>
                <div class="card-body">
                    <div *ngIf="!getBoardListData.length">
                        No Data
                    </div>
                    <div class="table-responsive">
                        <table *ngIf="getBoardListData.length" datatable [dtOptions]="dtOptions" class="table table-sm">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>teamA</th>
                                    <th>rateTossTeamA</th>
                                    <th>rateWinnerTeamA</th>
                                    <th>teamB</th>
                                    <th>rateTossTeamB</th>
                                    <th>rateWinnerTeamB</th>
                                    <th>startsAt</th>
                                    <th>status</th>
                                    <th>updatedAt</th>
                                    <th>action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let x of getBoardListData;trackBy: trackFunction">
                                    <td>{{x.id}}</td>
                                    <td>{{x.teamA}}</td>
                                    <td>{{x.rateTossTeamA}}</td>
                                    <td>{{x.rateWinnerTeamA}}</td>
                                    <td>{{x.teamB}}</td>
                                    <td>{{x.rateTossTeamB}}</td>
                                    <td>{{x.rateWinnerTeamB}}</td>
                                    <td>{{x.startsAt | date : 'short'}}</td>
                                    <td>{{x.status}}</td>
                                    <td>{{x.updatedAt | date : 'short'}}</td>
                                    <td>
                                        <button (click)="editModal(x,template)"
                                            class="btn btn-warning btn-sm btn-pill">rates</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            Resolve Issue
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-lg-6">
                <h3>{{modalData.teamA}}</h3>
                <label>Toss Rate</label>
                <input style="width: 100%;" autocomplete="off" type="number" min="1" [(ngModel)]="modalData.rateTossTeamA">
                <div *ngIf="!modalData.rateTossTeamA" class="errorMsg">
                    <div>Required.</div>
                </div>
                <label>Winner Rate</label>
                <input style="width: 100%;" autocomplete="off" type="number" min="1" [(ngModel)]="modalData.rateWinnerTeamA">
                <div *ngIf="!modalData.rateWinnerTeamA" class="errorMsg">
                    <div>Required.</div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3>{{modalData.teamB}}</h3>
                <label>Toss Rate</label>
                <input style="width: 100%;" autocomplete="off" type="number" min="1" [(ngModel)]="modalData.rateTossTeamB">
                <div *ngIf="!modalData.rateTossTeamB" class="errorMsg">
                    <div>Required.</div>
                </div>
                <label>Winner Rate</label>
                <input style="width: 100%;" autocomplete="off" type="number" min="1" [(ngModel)]="modalData.rateWinnerTeamB">
                <div *ngIf="!modalData.rateWinnerTeamB" class="errorMsg">
                    <div>Required.</div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
        <button [disabled]="!modalData.rateTossTeamB || !modalData.rateWinnerTeamB || !modalData.rateTossTeamA || !modalData.rateWinnerTeamA" type="button"
            class="btn btn-info" (click)="updateRates()">Update</button>
    </div>
</ng-template>