@import '~ngx-toastr/toastr';


// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.pointer{
    cursor:pointer
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.errorMsg {
  color: red;
}

.mt8{
  margin-top: 8px;
}

// body, html {
//   height: 100%;
//   margin: 0;
//   // font-family: Arial, Helvetica, sans-serif;
//   // background-color: rgb(0, 0, 0, 1);
//   // background-image: url("/assets/img/landing/bg4.jpg") !important;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   // filter: blur(8px);
//   // -webkit-filter: blur(8px);
// }
